[package]
name = "application"
version = "0.1.0"
edition = "2024"

[dependencies]
domain = { path = "../domain" }
anyhow = { workspace = true }
base = { path = "../../../shared/base" }
tracing = { workspace = true }
